*
    box-sizing: border-box
body
    overflow-x: hidden
    margin: 0
    padding: 0

    background: linear-gradient(-45deg, $secondary-l 0%, $primary-l 100%)
    font-family: "PTsNarrow"

    .app-container
        width: calc(100% + 18vw)
        display: grid
        grid-template-columns: 18vw 1fr
        height: 100vh
        transform: translateX(-18vw)
        transition: all 0.8s

    .app-container.toggled
        transform: none;
