main
    padding: 2vw
    .toggleSide
        position: relative
        height: 2vh
        width: 2.5vw
        .middlebar
            position: absolute
            top: 50%
            transform: translate(0,-50%)
            height: 2px
            width: 100%
            background-color: $accent-n
        &:after
            content: ""
            position: absolute
            top: 0
            height: 2px
            width: 100%
            background-color: $accent-l
        &:before
            content: ""
            position: absolute
            bottom: 0
            height: 2px
            width: 100%
            background-color: $accent-l
        &:hover
            cursor: pointer
            .middlebar
                background-color: $accent-l
            &
                transform: rotateY(180deg)
                transition: transform 0.8s
            &:after
                background-color: #666
                transform: rotateY(-360deg)
                transition: transform 1.5s
            &:before
                background-color: #666
                transform: rotateY(-360deg)
                transition: transform 1.5s
    .container
        position: relative
        background-color: $accent-l
        max-width: 100%
        height: 90%
        margin: 20px 0
        padding: 2vw

        &>*:not([class='current'])
            display: none

        &>[class='current']
            text-align: center
            color: $accent-l
            padding: 1vw
            height: 100%
            width: 100%
            background-color: $accent-d
