/* Fonts */
@font-face {
    font-family: "PTsNarrow";
    src: url("../font/PT_Sans-Narrow-Web-Regular.ttf");
}

/* Colors */

$primary-n : #01a9f4;
$primary-l : #67daff;
$primary-d : #007ac1;

$secondary-n : #ef9a9a;
$secondary-l : #ffcccb;
$secondary-d : #ba6b6c;

$accent-n : #e3f2fd;
$accent-l : #ffffff;
$accent-d : #b1bfca;